if ( CTAimage && CTAtitle && CTAdesc && CTAbuttonLink && CTAbuttonTitle )
  block cta
    aside.cta
      if ( CTAimage )
        div.cta-image
          img(src=CTAimage alt='')
      if ( CTAtitle && CTAdesc && CTAbuttonLink && CTAbuttonTitle )
        div.container
          div.cta-content
            if ( heroTitle )
              h2 #{heroTitle}
            if ( heroDesc )
              p #{heroDesc}
            if ( CTAbuttonLink || CTAbuttonTitle )
              a.button(href=CTAbuttonLink) #{CTAbuttonTitle}
