if ( CTAimage && CTAtitle && CTAdesc && CTAbuttonLink && CTAbuttonTitle )
  block cta
    aside.cta
      if ( CTAimage )
        div.cta-image
          img(src=CTAimage alt='')
      if ( CTAtitle && CTAdesc && CTAbuttonLink && CTAbuttonTitle )
        div.cta-content(data-aos='fade-up', data-aos-duration='1500')
          div.container
            if ( CTAtitle )
              h2.h1 #{CTAtitle}
            if ( CTAdesc )
              p #{CTAdesc}
            if ( CTAbuttonLink || CTAbuttonTitle )
              a.button-cta(href=CTAbuttonLink) #{CTAbuttonTitle}
