if ( heroImage && heroTitle && heroDesc && heroCTAlink && heroCTAtitle )
  header.hero
    block hero
      div.container
        if ( heroImage )
          div.hero-image
            img(src=heroImage alt='')
        if ( heroTitle && heroDesc && heroCTAlink && heroCTAtitle )
          div.hero-content
            if ( heroTitle )
              h2 #{heroTitle}
            if ( heroDesc )
              p #{heroDesc}
            if ( heroCTAlink || heroCTAtitle )
              a.button(href=heroCTAlink) #{heroCTAtitle}
