block hero
  header.hero
    div.container.container--grid
      if ( heroImage )
        div.hero-image.container-column-two
          img(src=heroImage alt='')  
      div.hero-content.container-column-two
        if ( heroIcon == 'yes')
          include ../../img/sound-design.svg
        if ( heroTitle )
          h2.h1 #{heroTitle}
        if ( heroDesc )
          p #{heroDesc}
        if ( heroButtonLink || heroButtonTitle )
          a.button-cta(href=heroButtonLink) #{heroButtonTitle}
